body {
  margin: auto;
  height: 100%;
}
.card {
  margin: 1rem;
}

.btn-sm {
  max-height: 2rem;
  margin-left: 0.5rem;
}

.text-muted {
  font-size: small;
}

q {
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
}
