html {
  min-height: 1000px;
  height: 100%;
}

body {
  margin: auto;
  width: 800px;
  border: solid #eeeeee 1px;
  height: 100%;
}
.card {
  margin: 1rem;
}

.btn-sm {
  max-height: 2rem;
  margin-left: 0.5rem;
}

.text-muted {
  font-size: small;
}

q {
  font-style: italic;
}
